* {
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #EEF0F4;
}

input {
  color: #000000;
  background-color: #DCE1EB;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  margin: 10px 0px;
}

button {
  color: #FDFDFD;
  background-color: #d8b13c;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
  transition: 0.1s;
}

button:active {
  filter: brightness(130%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  background-color: #FFFDF8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #000000;
}

ul li:hover {
  filter: brightness(110%);
  background-color: #b1c6f2; 
  transition: 0.1s;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);;
}
